.h1Logo {
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}

.infoContainer {
    max-width: 700px;
    font-size: 18px;
    margin: 20px 0 20px 40px;
    padding: 20px;
    line-height: 1.6;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.shortList {
    font-size: 30px;
    margin-top: 50px;
}

.shortListInfo {
    margin-top: 20px;
}

p {
    margin-bottom: 20px;
}

.hotKeys {
    font-size: 30px;
    margin-top: 50px;
}
.listHotKeys {
    margin-top: 25px;
    margin-left: 15px;
    font-size: 17px;
}

.blenderFunc {
    font-size: 30px;
    margin-top: 50px;
}

.pFunc {
    margin-top: 25px;
}

.blenderFuncList {
    margin-left: 15px;
    font-size: 17px;
}

.mainWindow {
    font-size: 30px;
    margin-top: 50px;
}

.mainWindowP {
    margin-top: 15px;
}

.mainWindowUl {
    margin-left: 15px;
    font-size: 17px;
}

.infoTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
}

.infoTable th,
.infoTable td {
    padding: 12px;
    border: 1px solid #ddd;
}

.infoTable thead {
    background-color: #f4f4f4;
    font-weight: bold;
}
