.contactContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.contactImage {
    width: 100%;
    object-fit: cover;
}

.contactText {
    position: absolute;
    top: 20px;
    color: white;
    font-size: 2.1rem;
    font-weight: bold;
}

.h2-logo {
    position: absolute;
    top: 250px;
    color: black;
    z-index: 1;
}

.archQuest {
    position: absolute;
    color: #666666;
    max-width: 30%;
    font-family: initial;
    margin-left: 190px;
    bottom: 20px;
    font-size: 17px;
}

.haveQst {
    font-size: 22px;
}

.contactForm {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    right: 100px;
    bottom: 0;
}

.formGroup {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input[type='email'],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: none;
}

.submitButton {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: darkcyan;
}
